
  .bg-custom-2 {
  background-image: linear-gradient(15deg, blue 0%, indigo 100%);
  color: white;
  }

  .search {
    font-size: 32px;
    font-weight: bold;
}

.h3 {
    font-size: 24px;
    font-weight: bold;
}

.cityName {
    font-size: 30px;
}

.forecastDate {
    font-size: 18px;
}

